<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header bg-primary text-white">Perfil del Usuario</h5>
                <div class="card-body">
                    <h5 class="card-title">Nombre de usuario:</h5>
                    <p class="card-text">{{ usuario?.nombre }}</p>  
                    <hr>
                    <h5 class="card-title">Contraseña:</h5>
                    <input id="password" type="password" [value]="usuario?.password" disabled>
                    <hr>
                    <h5 class="card-title">Número de usuario:</h5>
                    <p class="card-text">{{ usuario?.id }}</p>

                </div>
                <!--          <h6 class="card-title"><strong>Nombre: </strong>{{ usuario?.nombre }}</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Email: </strong> {{ usuario?.email }}</li>
                        <li class="list-group-item" type="password"><strong>Password: </strong> {{ usuario?.password }}</li>
                        <li class="list-group-item"><strong>Número de usuario: </strong> {{ usuario?.id }}</li>
                    </ul>
                </div>  -->
                <div class="card-footer text-muted">
                    <button class="btn btn-primary me-2" (click)="editarUsuario()">Editar Cuenta</button>
                    <button class="btn btn-danger" (click)="eliminarUsuario()">Eliminar Cuenta</button>
                </div>
            </div>
        </div>
    </div>
</div>