<div class="container mt-5">
    <div class="row text-center">
        <div class="col">
            <div class="box">Desayuno</div>
        </div>
        <div class="col">
            <div class="box">Almuerzo</div>
        </div>
        <div class="col">
            <div class="box">Cena</div>
        </div>
        <div class="col">
            <div class="box">Aperitivos</div>
        </div>
        <div class="col">
            <div class="box">Dulces</div>
        </div>
    </div>
</div>
