<!--<div class="col-md-2">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown1" data-bs-toggle="dropdown" aria-expanded="false">
        Panel
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdown1">
        <a class="dropdown-item"> Mi Histórico</a>
        <a class="dropdown-item">Publicar Receta</a>
        <a class="dropdown-item">Mis Reseñas</a>
        <a class="dropdown-item">Ajustes de Perfil</a>
      </div>
    </div>
  </div>-->
<div class="container-fluid">
<div class="row">
    <!-- Botón Hamburguesa -->
    <button class="btn btn-outline-primary btn-hamburguer" (click)="mostrarPanel()">Perfil</button>

    <!-- panel gestionado con enlace de clases -->
    <div class="sidebar bg-light border" [class.active]="panelVisible">
    <!-- Contenido del panel -->
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Mi Histórico</a>
        <a href="#" class="list-group-item list-group-item-action">Publicar Receta</a>
        <a href="#" class="list-group-item list-group-item-action">Mis Reseñas</a>
        <a href="#" class="list-group-item list-group-item-action">Ajustes de Perfil</a>
    </div>
    </div>