<h1 class="display-4 text-center mb-4">FormSalud</h1>
<app-listado-categorias></app-listado-categorias>
<div class="container">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown1" data-bs-toggle="dropdown" aria-expanded="false">
        Menús
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdown1">
        <a class="dropdown-item" href="http://www.google.com">Google</a>
        <a class="dropdown-item" href="http://www.bing.com">Bing</a>
        <a class="dropdown-item" href="http://www.yahoo.com">Yahoo</a>
      </div>
    </div>  
  </div>
  

