<h1 class="text-secondary">Reseña Nueva</h1>
<form [formGroup]="resenaForm" (ngSubmit)="agregarResena()">
    <div class="mb-3">
      <label for="comentario" class="form-label">Comentario</label>
      <textarea class="form-control" id="comentario" formControlName="comentario" ></textarea>
    </div>
    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha</label>
      <input type="date" class="form-control" id="fecha" formControlName="fecha">
    </div>
    <div class="mb-3">
      <label for="puntuacion" class="form-label">Puntuación</label>
      <input type="number" class="form-control" id="puntuacion" formControlName="puntuacion" max="10">
    </div>
    <div class="mb-3">
      <p class="form-label">Plato</p>
      <ul>
        <li *ngIf="plato">{{ plato.id }}</li>
      </ul>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="resenaForm.invalid">Guardar</button>
    <button class="btn btn-secondary ms-2" (click)="volver()">Atrás</button>
</form>