#imagen{
    width: 40px;
    height: 40px;
}
.navbar{
    background-image: url('../../../assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    position: relative;
}

.breadcrumb {
    background-color: transparent;
}

.menu, .text-center{
    color:rgb(36, 118, 110);
    font-size: medium;
}
