<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <h5 class="card-header bg-primary text-white">Perfil del Usuario</h5>
                <div class="card-body">
                    <h5 class="card-title">Nombre de usuario:</h5>
                    <p class="card-text">{{ usuario?.nombre }}</p>  
                    <hr>
                    <h5 class="card-title">Email:</h5>
                    <p class="card-text">{{ usuario?.email }}</p>  
                    <hr>
                    <h5 class="card-title">Número de usuario:</h5>
                    <p class="card-text">{{ usuario?.id }}</p>

                </div>
                <div class="card-footer text-muted">
                    <button class="btn btn-primary m-2" (click)="editarUsuario(usuario?.id)">Editar Cuenta</button>
                    <button class="btn btn-danger m-2" (click)="eliminarUsuario()">Eliminar Cuenta</button>
                </div>
            </div>
        </div>
    </div>
</div>