  <app-encabezado></app-encabezado>
  <div class="container mt-2 text-center">
    <h2 class="text-success">Tipos de Menús </h2>
    <table class="table  mt-1">
      <thead>
        <tr class="table-secondary">
          <th scope="row">Nombre</th>
          <th scope="row">Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tipo of tipos">
          <td class="tipos text-success h5">{{ tipo.nombre }}</td>
          <td style="text-align:justify;">{{ tipo.descripcion }}</td>
        </tr>
      </tbody>
    </table>
  </div>



