<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-5">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Iniciar Sesión</h2>
                    <form [formGroup]="formLogin" (ngSubmit)="hacerLogin()">

                        <div class="mb-3">
                            <label for="emailInput" class="form-label">Email</label>
                            <input type="email" formControlName="email" class="form-control" id="emailInput" placeholder="Ingresa tu email">
                            <div class="alert alert-danger" role="alert" *ngIf="!emailValido">El email es necesario</div>
                        </div>
            
                        <div class="mb-3">
                            <label for="passwordInput" class="form-label">Contraseña</label>
                            <input type="password" formControlName="password" class="form-control" id="passwordInput" placeholder="Crea una contraseña">
                            <div class="alert alert-danger" role="alert" *ngIf="!passwordValido">Introduce una contraseña</div>
                        </div>
                        <br>
                        <div class="d-grid gap-2">
                            <input type="submit"class="btn btn-primary" value="Iniciar Sesión">
                        </div>
                        <br>
                        <div class="d-grid gap-2">
                            <a  class="btn btn-secondary" href="/registro" >Registrarse</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
