<div class="row">
    <div class="col-8"></div>
    <div class="col-4">
        <form class="d-flex">
            <input class="form-control me-sm-2" type="buscar" placeholder="filtrar por puntuación">
            <button class="btn btn-success btn-sm my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</div>
<!-- Sección de reseñas -->
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div *ngFor="let resena of resenas" class="card mb-3 shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <p class="text-muted mb-0"><small>Fecha: {{ resena.fecha | date:'dd/MM/yyyy' }}</small></p>
                        <button class="btn btn-danger btn-sm" (click)="eliminarResena(resena.id)">Eliminar
                            Reseña</button>
                    </div>
                    <p class="card-text">{{ resena.comentario }}</p>
                    <p class="text-muted mb-0"><small>Puntuación: {{ resena.puntuacion }} estrellas</small></p>
                    <p class="text-muted mb-0"><small>Autor reseña: {{ resena.autor }}</small></p>
                    <p class="text-muted mb-0"><small>Nombre del Plato: {{ resena.nombrePlato }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>