<div class="container mt-5">
  <div class="row text-center">
    <div class="col" *ngFor="let categoria of categorias">
      <div class="box" (click)="cargarPlatos(categoria.id)">
        {{ categoria.nombre }}
      </div>
    </div>
  </div>
  <hr>
  <!-- Sección para mostrar platos y sus reseñas -->
  <div class="row text-center mt-3" *ngFor="let plato of platos">
    <div class="col-md-12">
      <div >
        <p class="h5">Categoría: {{ plato.categoriaNombre }}</p>
        {{ plato.id }}<span class="h6"> {{ plato.nombre }}</span>
        <hr>
        <img [src]="'assets/imagenes/' + plato.foto" alt="Imagen de {{ plato.nombre }}" class="img-fluid">
    <!--[src]property binding-->
        <hr>
        <br>
        <p class="h6">Autor plato:{{ plato.autor }}</p>
        <hr>
        <p>Ingredientes: {{ plato.ingredientes }}</p>
        <br>
        <p>Descripción: {{ plato.descripcion }}</p>
        <br>
        <p>Minutos: {{ plato.tiempo }}</p>

      </div>
      <!-- Acordeón para las reseñas -->
      <button type="button" class="btn btn-primary btn-md shadow-sm px-2" (click)="cargarResenas(plato.id)">Mostrar Reseñas</button>
        <table class="table table-striped table-hover table-bordered mt-1">
          <thead class="table-dark">
            <tr>
              <th>Fecha</th>
              <th>Autor reseña</th>
              <th>Comentario</th>
              <th>Puntuación</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let resena of resenas">
              <td>{{ resena.fecha }}</td>
              <td>{{ resena.autor }}</td>
              <td>{{ resena.comentario }}</td>
              <td>{{ resena.puntuacion }}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>