  <div class="row"><div class="col-8"></div>
  <div class="col-4">
    <form class="d-flex">
        <input class="form-control me-sm-2" type="buscar" placeholder="Buscar nombre del plato">
        <button class="btn btn-success btn-sm my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    </div>
</div>
<div class="container mt-4">
  <div class="row text-center">
    <div class="col" *ngFor="let categoria of categorias">
      <div class="box" (click)="cargarPlatos(categoria.id)">
        {{ categoria.nombre }}
      </div>
    </div>
  </div>
  <hr>
  <!-- Sección para mostrar platos y sus reseñas -->
  <div class="row text-center mt-3" *ngFor="let plato of platos">
    <div class="col-md-12">
      <div>
        <p class="h3 text-primary">Categoría: {{ plato.categoriaNombre }}</p>
        {{ plato.id }}<span class="h6"> {{ plato.nombre }}</span>
        <hr>
        <img [src]="'assets/imagenes/' + plato.foto" alt="Imagen de {{ plato.nombre }}" class="img-fluid">
        <!--[src]property binding-->
        <hr>
        <br>
        <p class="h6">Autor plato: {{ plato.autor }}</p>
        <hr>
        <p style="text-align: justify;">Ingredientes: {{ plato.ingredientes }}</p>
        <br>
        <p style="text-align: justify;">Descripción: {{ plato.descripcion }}</p>
        <br>
        <p>Minutos: {{ plato.tiempo }}</p>

      </div>

      <!-- Tabla para mostrar las reseñas -->
      <button *ngIf="comprobar()" type="button" class="btn btn-primary btn-md shadow-sm px-2"
        (click)="addResena(plato.id)">Añadir Reseña</button>
      <table class="table table-hover table-bordered mt-2">
        <thead class="table-secondary">
          <tr>
            <th>Fecha</th>
            <th>Autor reseña</th>
            <th>Comentario</th>
            <th>Puntuación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resena of plato.resenas">
            <td>{{ resena.fecha | date:'dd/MM/yyyy' }}</td>
            <td>{{ resena.autor }}</td>
            <td>{{ resena.comentario }}</td>
            <td>{{ resena.puntuacion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Controles de paginación -->
 <!--  <div class="row text-center mt-3">
    <div class="col">
      <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn btn-primary">Anterior</button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-primary">Siguiente</button>
    </div>
  </div>
</div> -->