<app-encabezado></app-encabezado>
<div class="container">
    <div class="row">
        <h1 class="text-secondary text-center">Menús Diseñados</h1>
        <div class="col">
            <div *ngFor="let menu of menus | keyvalue" class="mb-4">
                <h2 class="text-info">{{ menu.value[0].nombreMenu }}</h2>
                <div class="list-group">
                    <div *ngFor="let plato of menu.value" class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ plato.nombrePlato }} <a class="m-2"
                                    [routerLink]="['/detalle-plato', plato.platoid]"> ver </a></h5>

                            <small>{{ plato.momentodia }}</small>
                        </div>
                        <p class="mb-1">{{ plato.tipoMenu }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>