<app-encabezado></app-encabezado>
<div class="container mt-5">
    <div class="row text-center">
        <h1 class="text-secondary">Menús Diseñados</h1>

        <table class="table table-hover">
            <thead>
                <tr class="table-info">
                    <th scope="row">Momento del Día</th>
                    <th scope="row">Nombre del Plato</th>
                    <th scope="row">Código de Plato</th>
                    <th scope="row">Nombre del Menú</th>
                    <th scope="row">Código del Menú</th>
                    <th scope="row">Tipo de Menú</th>
                </tr>
            </thead>

            <tbody class="col" *ngFor="let menuPlato of menuPlatos">
                <tr class="table-default">
                    <td>{{ menuPlato.momentodia }}</td>
                    <td>{{ menuPlato.nombrePlato }}</td>
                    <td><a [routerLink]="['/detalle-plato', menuPlato.platoid]">{{ menuPlato.platoid }}</a></td>
                    <td>{{ menuPlato.nombreMenu }}</td>
                    <td>{{ menuPlato.menuid }}</td>
                    <td>{{ menuPlato.tipoMenu }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>